.howworks{
  width: 1200px;
  background: red;
  margin: 0 auto;
  background: #dddddd;
  padding: 10px 10px;
}
.work_desc{
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  font-size: 10px;
}